body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif, 'Tahoma';
    letter-spacing: 0px;
    background: #fff;
    max-width: 100%;
}

#intro {
    width: 84%;
    text-align: center;
    margin: 10px 0px 0px 0px;
    /* box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14); */
    padding-right: 0px;
}

#intro a {
    text-decoration: none;
    color: black;
}

#intro img, #intro h2, #intro p {
    display: inline-block;
}

#intro h2, #intro p {
    position: relative;
    bottom: 10px;
    right: 28.59px;
    text-shadow: 22px 15px 5px rgba(0, 0, 0, 0.25);
}

#intro p {
    font-size: 12px;
}

#intro img {
    width: 45px;
}

#target-blocks {
    height: 408px;
}

ul#target {
    width: 400px;  /* Must be here! */
    list-style: none;
}

ul#target li {
    display: inline-block;
    padding: 0px 2.5px 0px 2.5px;
    z-index: 0;
}

ul#target li div {
    cursor: pointer;
    border-radius: 2px;
}

#history {
    display: none;
    width: 400px;
    text-align: center;
}

#history #quotes {    
    font-size: 14px;
    padding: 25px;
}

/* LEVELS */
#levels-wrapper {
    margin: 1% 0px 0px 50px;
    width: 70%;
    background: #fff;
}

#levels-bar {
    width: 0%;
    height: 4px;
    background: #e74c3c;
    border-radius: 5px;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    transition: width 0.3s;
}

#diff-title {
    font-size: 14px;
    text-align: left;
}

#diff {
    font-size: 35px;
}

ul#ranks-wrapper {
    height: 4px;
    padding: 0;
    margin: 0;
    text-align: right;
}

ul#ranks-wrapper li {
    display: inline-block;
    width: 20%;
}

ul#ranks-wrapper li p {
    margin: 0;
    padding-top: 4px;
}

.rank-role {
    -webkit-transition: color .15s;
    -moz-transition: color .15s;
    -ms-transition: color .15s;
    transition: color .15s;
    font-weight: bold;
}


/* Score/Fault and Time */

.score-fault-output {
    font-size: 35px;
}

#time {
    font-size: 30px;
    font-weight: bold;
    color: #26a65b;
    border: 2px solid #26a65b; 
    width: 45px;
    text-align: center;
    border-radius: 50%;
}

#score, #scorePlus {
    display: inline-block;
}

#fault, #faultPlus {
    display: inline-block;
}

#scorePlus, #faultPlus {
    opacity: 0;
    -webkit-transition: opacity .2s, transform .15s;
    -moz-transition: opacity .2s, transform .15s;
    -ms-transition: opacity .2s, transform .15s;
    transition: opacity .2s, transform .15s;
}

#scorePlus { color: #26a65b; }

#faultPlus { color: #e74c3c; }

/* Question */
#question {
    line-height: 15px;
    vertical-align: top;
    margin-top: 52px;
}

#q-line-height {
    line-height: 2px;
}

#question h1:first-of-type {
    font-size: 90px;
}

#q-line-height #q-unique {
    font-size: 20px;
    letter-spacing: 10px;
    margin-left: 35px;;
}

#question h1:last-of-type {
    font-size: 48px;
}

/* Details */
#details {
    vertical-align: top;
    margin: 30px 0px 0px 20px;
}

/* Layout styling */
#big-boss {
    height: auto;
    margin: 0px auto;
    width: 1000px;
}

#question, #target-blocks, #details {
    display: inline-block;
}