body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif, 'Tahoma';
    letter-spacing: 0px;
    background: #fff;
    max-width: 100%;
}

#target-blocks {
    height: 400px;
}

ul#target {
    width: 400px;  /* Must be here! */
    list-style: none;    
}

ul#target li {
    display: inline-block;
    padding: 0px 2.5px 0px 2.5px;
}

ul#target li div {
    cursor: pointer;
    border-radius: 2px;
    /* box-shadow: 22px 15px 17px rgba(0, 0, 0, 0.14); */
}

/* LEVELS */
#levels-wrapper {
    margin: 10px auto;
    width: 40%;
    background: #fff;
}

#levels-bar {
    width: 0%;
    height: 4px;
    background: #e74c3c;
    border-radius: 5px;
    transition: width 0.3s;
}

#diff-title {
    font-size: 14px;
    text-align: left;
}

#diff {
    font-size: 35px;
}

ul#ranks-wrapper {
    height: 4px;
    padding: 0;
    margin: 0;
    text-align: right;
}

ul#ranks-wrapper li {
    display: inline-block;
    width: 20%;
}

ul#ranks-wrapper li p {
    margin: 0;
    padding-top: 4px;
}

.rank-role {
    transition: color .15s;
    font-weight: bold;
}

svg {
    transition: fill 0.15s;
}