body {
    margin: 0;
    padding: 0;
    font-family: Tahoma;
    background: #fff;
    max-width: 100%;
}

ul#target {
    width: 400px;
    margin: 200px auto;
    list-style: none;
}

ul#target li {
    display: inline-block;
    
    padding: 2px;
}

ul#target li div {
    /* height: 150px;
    width: 150px; */
}